.footer__connect {
    padding-bottom: 60px;
   @include tablet {
    margin-left: 165px;
    padding-top: 10px;
   }
   @include desktop {
    margin-left: 30px;
    margin-right: 70px;
 }
}
.connect__text {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    @include desktop {
      justify-content: left;
     }
   
}
.connect__list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect__element:not(:last-child) {
    margin-right: 10px;
}
.connect__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color:  #2196F3;
    }
}
